In [1]:
!pip install statsmodels

Requirement already satisfied: statsmodels in c:\users\azizk\appdata\local\programs\python\python310\lib\site-packages (0.14.4)
Requirement already satisfied: numpy<3,>=1.22.3 in c:\users\azizk\appdata\local\programs\python\python310\lib\site-packages (from statsmodels) (1.26.4)
Requirement already satisfied: scipy!=1.9.2,>=1.8 in c:\users\azizk\appdata\local\programs\python\python310\lib\site-packages (from statsmodels) (1.15.2)
Requirement already satisfied: pandas!=2.1.0,>=1.4 in c:\users\azizk\appdata\local\programs\python\python310\lib\site-packages (from statsmodels) (2.2.3)
Requirement already satisfied: patsy>=0.5.6 in c:\users\azizk\appdata\local\programs\python\python310\lib\site-packages (from statsmodels) (1.0.1)
Requirement already satisfied: packaging>=21.3 in c:\users\azizk\appdata\local\programs\python\python310\lib\site-packages (from statsmodels) (24.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\azizk\appdata\local\programs\python\python310\lib\site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\azizk\appdata\local\programs\python\python310\lib\site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\azizk\appdata\local\programs\python\python310\lib\site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2025.1)
Requirement already satisfied: six>=1.5 in c:\users\azizk\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.2->pandas!=2.1.0,>=1.4->statsmodels) (1.17.0)

In [2]:
import pandas as pd
import numpy as np
import zipfile
import matplotlib.pyplot as plt
import gc
from statsmodels.tsa.arima.model import ARIMA
from statsmodels.tsa.stattools import adfuller
from sklearn.metrics import mean_absolute_error

import warnings
warnings.filterwarnings('ignore')

In [3]:
all_data_df = pd.read_csv("./Data/Data.csv")
ss = pd.read_csv("SampleSubmission.csv")

In [4]:
len(ss)

6014

In [5]:
all_data_df.columns

Index(['date_time', 'v_red', 'current', 'power_factor', 'kwh', 'Source',
       'v_blue', 'v_yellow', 'consumer_device_9', 'consumer_device_x'],
      dtype='object')

In [6]:
all_data_df.head()

,date_time,v_red,current,power_factor,kwh,Source,v_blue,v_yellow,consumer_device_9,consumer_device_x
0,2024-07-22 18:20:00,137.65,0.08,0.72,0.000661,consumer_device_10_data_user_1,NaN,NaN,0,10
1,2024-07-22 18:25:00,122.82,0.08,0.73,0.000598,consumer_device_10_data_user_1,NaN,NaN,0,10
2,2024-07-22 18:30:00,119.70,0.08,0.74,0.000591,consumer_device_10_data_user_1,NaN,NaN,0,10
3,2024-07-22 18:35:00,124.53,0.08,0.75,0.000623,consumer_device_10_data_user_1,NaN,NaN,0,10
4,2024-07-22 18:40:00,134.84,0.08,0.74,0.000665,consumer_device_10_data_user_1,NaN,NaN,0,10

In [7]:
# Split 'Source' into 'consumer_device_X' and 'data_user_Y'
all_data_df[['consumer_device', 'data_user']] = all_data_df['Source'].str.extract(r'(consumer_device_\d+)_data_user_(\d+)')

# Display the updated DataFrame (optional)
all_data_df.head()

,date_time,v_red,current,power_factor,kwh,Source,v_blue,v_yellow,consumer_device_9,consumer_device_x,consumer_device,data_user
0,2024-07-22 18:20:00,137.65,0.08,0.72,0.000661,consumer_device_10_data_user_1,NaN,NaN,0,10,consumer_device_10,1
1,2024-07-22 18:25:00,122.82,0.08,0.73,0.000598,consumer_device_10_data_user_1,NaN,NaN,0,10,consumer_device_10,1
2,2024-07-22 18:30:00,119.70,0.08,0.74,0.000591,consumer_device_10_data_user_1,NaN,NaN,0,10,consumer_device_10,1
3,2024-07-22 18:35:00,124.53,0.08,0.75,0.000623,consumer_device_10_data_user_1,NaN,NaN,0,10,consumer_device_10,1
4,2024-07-22 18:40:00,134.84,0.08,0.74,0.000665,consumer_device_10_data_user_1,NaN,NaN,0,10,consumer_device_10,1

In [9]:
# These are the devices that are not in the test SampleSubmission

devices_to_drop = ["consumer_device_3","consumer_device_5","consumer_device_11", "consumer_device_14",
                   "consumer_device_15", "consumer_device_17", "consumer_device_24",
                   "consumer_device_25","consumer_device_27","consumer_device_33","consumer_device_4","consumer_device_9"]

In [10]:
# Filter the DataFrame to include only rows where 'consumer_device' is in the 'devices_to_drop' list.
filtered_df = all_data_df[all_data_df['consumer_device'].isin(devices_to_drop)]

# Now 'filtered_df' contains only the rows you specified.  You can further process or save this DataFrame.
filtered_df.head()

,date_time,v_red,current,power_factor,kwh,Source,v_blue,v_yellow,consumer_device_9,consumer_device_x,consumer_device,data_user
327816,2023-10-01 14:35:00,169.26,3.50,0.73,0.036038,consumer_device_11_data_user_1,NaN,NaN,0,11,consumer_device_11,1
327817,2023-10-01 14:40:00,169.20,3.15,0.76,0.033755,consumer_device_11_data_user_1,NaN,NaN,0,11,consumer_device_11,1
327818,2023-10-01 14:45:00,168.38,2.58,0.73,0.026427,consumer_device_11_data_user_1,NaN,NaN,0,11,consumer_device_11,1
327819,2023-10-01 14:50:00,168.87,2.52,0.76,0.026952,consumer_device_11_data_user_1,NaN,NaN,0,11,consumer_device_11,1
327820,2023-10-01 14:55:00,168.30,2.47,0.75,0.025981,consumer_device_11_data_user_1,NaN,NaN,0,11,consumer_device_11,1

In [149]:
# for all_data["Source"] aggregate by sum on day

import pandas as pd
# Assuming 'all_data_df' is already defined as in your previous code.
# Convert 'Datetime' column to datetime objects if it's not already
all_data_df['date_time'] = pd.to_datetime(all_data_df['date_time'])

# Extract the date part
all_data_df['Date'] = all_data_df['date_time'].dt.date

aggregated_data = all_data_df.groupby(['Source', 'Date']).agg({
    'kwh': 'sum',  # Sum of kwh
    'power_factor': 'mean'  # Average power factor
    
}).reset_index()
# Display the aggregated data
aggregated_data

                                Source        Date       kwh  power_factor
0       consumer_device_10_data_user_1  2024-07-22  0.024330      0.384118
1       consumer_device_10_data_user_1  2024-07-23  0.103560      0.342986
2       consumer_device_10_data_user_1  2024-07-24  0.137543      0.399896
3       consumer_device_10_data_user_1  2024-07-25  0.121011      0.356250
4       consumer_device_10_data_user_1  2024-07-26  0.000000      0.000000
...                                ...         ...       ...           ...
136404   consumer_device_9_data_user_9  2024-09-10  0.000000      0.000000
136405   consumer_device_9_data_user_9  2024-09-11  0.000000      0.000000
136406   consumer_device_9_data_user_9  2024-09-12  0.000000      0.000000
136407   consumer_device_9_data_user_9  2024-09-13  0.000000      0.000000
136408   consumer_device_9_data_user_9  2024-09-14  0.000000      0.000000

[136409 rows x 4 columns]

In [150]:
# Find the minimum and maximum date_time values
min_date = aggregated_data['Date'].min()
max_date = aggregated_data['Date'].max()

print(f"Minimum date_time: {min_date}")
print(f"Maximum date_time: {max_date}")

Minimum date_time: 2023-06-03
Maximum date_time: 2024-09-23

In [151]:
# Fill missing date values with 0 kwh

# Create a date range
date_rng = pd.date_range(start=min_date, end=max_date, freq='D')

# Create an empty DataFrame to store the complete data
complete_data = pd.DataFrame()

# Iterate through each unique 'Source'
for source in aggregated_data['Source'].unique():
    # Extract data for the current 'Source'
    source_data = aggregated_data[aggregated_data['Source'] == source].copy()

    # Convert the source data Date to match the type of date_rng
    source_data['Date'] = pd.to_datetime(source_data['Date'])

    # Create a complete date range for the current 'Source'
    source_date_rng = pd.DataFrame({'Date': date_rng})
    source_date_rng['Source'] = source

    # Merge with the existing data, filling missing 'kwh' values with 0
    source_data = pd.merge(source_date_rng, source_data, on=['Date', 'Source'], how='left')
    source_data = source_data.dropna()

    # Append to the complete data
    complete_data = pd.concat([complete_data, source_data], ignore_index=True)

In [152]:
complete_data.head()

        Date                          Source       kwh  power_factor
0 2024-07-22  consumer_device_10_data_user_1  0.024330      0.384118
1 2024-07-23  consumer_device_10_data_user_1  0.103560      0.342986
2 2024-07-24  consumer_device_10_data_user_1  0.137543      0.399896
3 2024-07-25  consumer_device_10_data_user_1  0.121011      0.356250
4 2024-07-26  consumer_device_10_data_user_1  0.000000      0.000000

In [153]:
### CHANGE NAME OF FOLDER AND FILES TO CORRESPOND ####
climate_df = pd.read_excel("./ClimateData/Climate Data/Kalam Climate Data.xlsx")# Convert to datetime
complete_data["Date"] = pd.to_datetime(complete_data["Date"])
climate_df["Date Time"] = pd.to_datetime(climate_df["Date Time"])

# Aggregate climate data to daily level
climate_daily = climate_df.groupby(climate_df["Date Time"].dt.date).agg({
    "Temperature (°C)": "mean",
    "Dewpoint Temperature (°C)": "mean",
    "U Wind Component (m/s)": "mean",
    "V Wind Component (m/s)": "mean",
    "Total Precipitation (mm)": "sum",
    "Snowfall (mm)": "sum",
    "Snow Cover (%)": "mean",
}).reset_index()

# Convert 'Date' column in climate_daily to datetime format
climate_daily.rename(columns={"Date Time": "Date"}, inplace=True)
climate_daily["Date"] = pd.to_datetime(climate_daily["Date"])  # Ensure datetime64[ns]

# Merge with complete_data
complete_data = complete_data.merge(climate_daily, on="Date", how="left")

In [154]:
import pandas as pd
import numpy as np

# Convert 'Date' to datetime format if not already
complete_data["Date"] = pd.to_datetime(complete_data["Date"])

# Extract date features (keeping only useful ones)
complete_data["year"] = complete_data["Date"].dt.year
complete_data["day"] = complete_data["Date"].dt.day
complete_data["is_weekend"] = (complete_data["Date"].dt.dayofweek >= 5).astype(int)  # 1 if Sat/Sun, else 0

# Sinusoidal encoding of cyclical features
complete_data["day_of_week_sin"] = np.sin(2 * np.pi * complete_data["Date"].dt.dayofweek / 7)
complete_data["day_of_week_cos"] = np.cos(2 * np.pi * complete_data["Date"].dt.dayofweek / 7)

complete_data["month_sin"] = np.sin(2 * np.pi * complete_data["Date"].dt.month / 12)
complete_data["month_cos"] = np.cos(2 * np.pi * complete_data["Date"].dt.month / 12)

complete_data["week_of_year_sin"] = np.sin(2 * np.pi * complete_data["Date"].dt.isocalendar().week / 52)
complete_data["week_of_year_cos"] = np.cos(2 * np.pi * complete_data["Date"].dt.isocalendar().week / 52)

complete_data["quarter_sin"] = np.sin(2 * np.pi * complete_data["Date"].dt.quarter / 4)
complete_data["quarter_cos"] = np.cos(2 * np.pi * complete_data["Date"].dt.quarter / 4)

In [155]:
# Extract consumer device and data user using regex
complete_data["consumer_device"] = complete_data["Source"].str.extract(r'consumer_device_(\d+)_data_user_\d+').astype(int)
complete_data["data_user"] = complete_data["Source"].str.extract(r'consumer_device_\d+_data_user_(\d+)').astype(int)

In [156]:
complete_data

,Date,Source,kwh,power_factor,Temperature (°C),Dewpoint Temperature (°C),U Wind Component (m/s),V Wind Component (m/s),Total Precipitation (mm),Snowfall (mm),...,day_of_week_sin,day_of_week_cos,month_sin,month_cos,week_of_year_sin,week_of_year_cos,quarter_sin,quarter_cos,consumer_device,data_user
0,2024-07-22,consumer_device_10_data_user_1,0.024330,0.384118,14.719596,8.280669,0.022655,-0.104998,0.073049,0.000000,...,0.000000,1.000000,-0.5,-8.660254e-01,-0.464723,-0.885456,-1.0,-1.836970e-16,10,1
1,2024-07-23,consumer_device_10_data_user_1,0.103560,0.342986,13.217268,9.862700,0.116137,-0.077997,0.121921,0.000000,...,0.781831,0.623490,-0.5,-8.660254e-01,-0.464723,-0.885456,-1.0,-1.836970e-16,10,1
2,2024-07-24,consumer_device_10_data_user_1,0.137543,0.399896,12.462190,9.865658,0.103451,-0.075028,0.119984,0.000000,...,0.974928,-0.222521,-0.5,-8.660254e-01,-0.464723,-0.885456,-1.0,-1.836970e-16,10,1
3,2024-07-25,consumer_device_10_data_user_1,0.121011,0.356250,13.867551,8.973798,0.066345,-0.043182,0.034283,0.000000,...,0.433884,-0.900969,-0.5,-8.660254e-01,-0.464723,-0.885456,-1.0,-1.836970e-16,10,1
4,2024-07-26,consumer_device_10_data_user_1,0.000000,0.000000,15.572609,9.434734,0.093025,0.046414,0.006961,0.000000,...,-0.433884,-0.900969,-0.5,-8.660254e-01,-0.464723,-0.885456,-1.0,-1.836970e-16,10,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136404,2024-09-10,consumer_device_9_data_user_9,0.000000,0.000000,8.972100,4.735042,0.100475,0.099872,0.012961,0.000000,...,0.781831,0.623490,-1.0,-1.836970e-16,-0.970942,-0.239316,-1.0,-1.836970e-16,9,9
136405,2024-09-11,consumer_device_9_data_user_9,0.000000,0.000000,9.216674,2.945390,0.031060,-0.080538,0.014010,0.000000,...,0.974928,-0.222521,-1.0,-1.836970e-16,-0.970942,-0.239316,-1.0,-1.836970e-16,9,9
136406,2024-09-12,consumer_device_9_data_user_9,0.000000,0.000000,10.711587,1.898337,-0.069007,-0.089148,0.002685,0.000000,...,0.433884,-0.900969,-1.0,-1.836970e-16,-0.970942,-0.239316,-1.0,-1.836970e-16,9,9
136407,2024-09-13,consumer_device_9_data_user_9,0.000000,0.000000,10.078417,3.285115,0.170258,0.271345,0.009149,0.000000,...,-0.433884,-0.900969,-1.0,-1.836970e-16,-0.970942,-0.239316,-1.0,-1.836970e-16,9,9
136408,2024-09-14,consumer_device_9_data_user_9,0.000000,0.000000,7.519299,5.544675,-0.116898,0.231795,0.117576,0.000216,...,-0.974928,-0.222521,-1.0,-1.836970e-16,-0.970942,-0.239316,-1.0,-1.836970e-16,9,9

In [157]:
#complete_data.drop(columns=["v_blue","v_red","v_yellow","current","kwh"], inplace=True)

X_power = complete_data.drop(columns=['Date', 'Source', 'power_factor','kwh'])
y_power = complete_data.power_factor
X = complete_data.drop(columns=['Date', 'Source', 'kwh',])
y = complete_data.kwh

In [158]:
X_power.fillna(-1,inplace=True)
X.fillna(-1,inplace=True)
X_power

,Temperature (°C),Dewpoint Temperature (°C),U Wind Component (m/s),V Wind Component (m/s),Total Precipitation (mm),Snowfall (mm),Snow Cover (%),year,day,is_weekend,day_of_week_sin,day_of_week_cos,month_sin,month_cos,week_of_year_sin,week_of_year_cos,quarter_sin,quarter_cos,consumer_device,data_user
0,14.719596,8.280669,0.022655,-0.104998,0.073049,0.000000,0.000000,2024,22,0,0.000000,1.000000,-0.5,-8.660254e-01,-0.464723,-0.885456,-1.0,-1.836970e-16,10,1
1,13.217268,9.862700,0.116137,-0.077997,0.121921,0.000000,0.000000,2024,23,0,0.781831,0.623490,-0.5,-8.660254e-01,-0.464723,-0.885456,-1.0,-1.836970e-16,10,1
2,12.462190,9.865658,0.103451,-0.075028,0.119984,0.000000,0.000000,2024,24,0,0.974928,-0.222521,-0.5,-8.660254e-01,-0.464723,-0.885456,-1.0,-1.836970e-16,10,1
3,13.867551,8.973798,0.066345,-0.043182,0.034283,0.000000,0.000000,2024,25,0,0.433884,-0.900969,-0.5,-8.660254e-01,-0.464723,-0.885456,-1.0,-1.836970e-16,10,1
4,15.572609,9.434734,0.093025,0.046414,0.006961,0.000000,0.000000,2024,26,0,-0.433884,-0.900969,-0.5,-8.660254e-01,-0.464723,-0.885456,-1.0,-1.836970e-16,10,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136404,8.972100,4.735042,0.100475,0.099872,0.012961,0.000000,0.000000,2024,10,0,0.781831,0.623490,-1.0,-1.836970e-16,-0.970942,-0.239316,-1.0,-1.836970e-16,9,9
136405,9.216674,2.945390,0.031060,-0.080538,0.014010,0.000000,0.000000,2024,11,0,0.974928,-0.222521,-1.0,-1.836970e-16,-0.970942,-0.239316,-1.0,-1.836970e-16,9,9
136406,10.711587,1.898337,-0.069007,-0.089148,0.002685,0.000000,0.000000,2024,12,0,0.433884,-0.900969,-1.0,-1.836970e-16,-0.970942,-0.239316,-1.0,-1.836970e-16,9,9
136407,10.078417,3.285115,0.170258,0.271345,0.009149,0.000000,0.000000,2024,13,0,-0.433884,-0.900969,-1.0,-1.836970e-16,-0.970942,-0.239316,-1.0,-1.836970e-16,9,9
136408,7.519299,5.544675,-0.116898,0.231795,0.117576,0.000216,0.045166,2024,14,1,-0.974928,-0.222521,-1.0,-1.836970e-16,-0.970942,-0.239316,-1.0,-1.836970e-16,9,9

In [159]:
from sklearn.model_selection import *

X_train_power, X_test_power, y_train_power, y_test_power = train_test_split(X_power, y_power, random_state=42, 
                                                    shuffle=True, stratify=X_power['consumer_device'])

In [160]:
from sklearn.model_selection import *

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, 
                                                    shuffle=True, stratify=X['consumer_device'])

## PREDICTION power_factor

In [161]:
from catboost import *
model_power = CatBoostRegressor(iterations=10000, loss_function='RMSE', use_best_model=True,
                          early_stopping_rounds=100, verbose=1000, random_state=42,
                          )
model_power.fit(X_train_power, y_train_power, eval_set=(X_test_power, y_test_power))

Learning rate set to 0.025849
0:	learn: 0.1587110	test: 0.1579200	best: 0.1579200 (0)	total: 10.5ms	remaining: 1m 45s
1000:	learn: 0.0827327	test: 0.0835241	best: 0.0835241 (1000)	total: 9.07s	remaining: 1m 21s
2000:	learn: 0.0721647	test: 0.0737235	best: 0.0737235 (2000)	total: 17.2s	remaining: 1m 8s
3000:	learn: 0.0656433	test: 0.0677148	best: 0.0677148 (3000)	total: 25s	remaining: 58.2s
4000:	learn: 0.0610588	test: 0.0634685	best: 0.0634685 (4000)	total: 32.7s	remaining: 49s
5000:	learn: 0.0573142	test: 0.0601001	best: 0.0601001 (5000)	total: 40.8s	remaining: 40.7s
6000:	learn: 0.0545693	test: 0.0576419	best: 0.0576419 (6000)	total: 48.4s	remaining: 32.3s
7000:	learn: 0.0523032	test: 0.0555463	best: 0.0555463 (7000)	total: 56.2s	remaining: 24.1s
8000:	learn: 0.0501293	test: 0.0536081	best: 0.0536081 (8000)	total: 1m 3s	remaining: 16s
9000:	learn: 0.0481672	test: 0.0518847	best: 0.0518847 (9000)	total: 1m 11s	remaining: 7.95s
9999:	learn: 0.0466431	test: 0.0505775	best: 0.0505775 (9999)	total: 1m 19s	remaining: 0us

bestTest = 0.0505775434
bestIteration = 9999

In [162]:
from sklearn.metrics import *
y_pred_power = model_power.predict(X_test_power)
np.sqrt(mean_squared_error(y_pred_power, y_test_power))

0.05057754339403166

In [163]:
y_test_power.max()

0.9647222222222221

In [164]:
y_pred_power.max()

0.7798484105672486

## PREDICTION kwh

In [165]:
from catboost import *
model = CatBoostRegressor(iterations=12000, loss_function='RMSE', use_best_model=True,
                          early_stopping_rounds=100, verbose=100, random_state=42,
                          )
model.fit(X_train, y_train, eval_set=(X_test, y_test))

Learning rate set to 0.023129
0:	learn: 3.7011977	test: 3.8178042	best: 3.8178042 (0)	total: 10.2ms	remaining: 2m 2s
100:	learn: 2.6448406	test: 2.7396327	best: 2.7396327 (100)	total: 783ms	remaining: 1m 32s
200:	learn: 2.3600501	test: 2.4299296	best: 2.4299296 (200)	total: 1.54s	remaining: 1m 30s
300:	learn: 2.1918257	test: 2.2558176	best: 2.2558176 (300)	total: 2.3s	remaining: 1m 29s
400:	learn: 2.0792282	test: 2.1426115	best: 2.1426115 (400)	total: 3.06s	remaining: 1m 28s
500:	learn: 1.9709730	test: 2.0373580	best: 2.0373580 (500)	total: 3.83s	remaining: 1m 27s
600:	learn: 1.8991438	test: 1.9701940	best: 1.9701940 (600)	total: 4.59s	remaining: 1m 27s
700:	learn: 1.8271443	test: 1.9044556	best: 1.9044556 (700)	total: 5.36s	remaining: 1m 26s
800:	learn: 1.7809015	test: 1.8676066	best: 1.8676066 (800)	total: 6.12s	remaining: 1m 25s
900:	learn: 1.7364015	test: 1.8309681	best: 1.8309681 (900)	total: 6.89s	remaining: 1m 24s
1000:	learn: 1.7007893	test: 1.8036446	best: 1.8036446 (1000)	total: 7.67s	remaining: 1m 24s
1100:	learn: 1.6610369	test: 1.7693922	best: 1.7693922 (1100)	total: 8.45s	remaining: 1m 23s
1200:	learn: 1.6217023	test: 1.7352383	best: 1.7352247 (1199)	total: 9.22s	remaining: 1m 22s
1300:	learn: 1.5957836	test: 1.7175943	best: 1.7175943 (1300)	total: 9.98s	remaining: 1m 22s
1400:	learn: 1.5749129	test: 1.7057737	best: 1.7057719 (1399)	total: 10.7s	remaining: 1m 21s
1500:	learn: 1.5538819	test: 1.6958060	best: 1.6958060 (1500)	total: 11.5s	remaining: 1m 20s
1600:	learn: 1.5330061	test: 1.6849778	best: 1.6849778 (1600)	total: 12.3s	remaining: 1m 19s
1700:	learn: 1.5129912	test: 1.6738462	best: 1.6738462 (1700)	total: 13s	remaining: 1m 18s
1800:	learn: 1.4921739	test: 1.6620825	best: 1.6620825 (1800)	total: 13.8s	remaining: 1m 18s
1900:	learn: 1.4726469	test: 1.6505406	best: 1.6505384 (1899)	total: 14.5s	remaining: 1m 17s
2000:	learn: 1.4532196	test: 1.6367994	best: 1.6367984 (1999)	total: 15.3s	remaining: 1m 16s
2100:	learn: 1.4353050	test: 1.6265566	best: 1.6265566 (2100)	total: 16.1s	remaining: 1m 15s
2200:	learn: 1.4204527	test: 1.6187170	best: 1.6186846 (2198)	total: 16.9s	remaining: 1m 15s
2300:	learn: 1.4070332	test: 1.6126932	best: 1.6126932 (2300)	total: 17.6s	remaining: 1m 14s
2400:	learn: 1.3931541	test: 1.6064757	best: 1.6064696 (2399)	total: 18.4s	remaining: 1m 13s
2500:	learn: 1.3818749	test: 1.6006224	best: 1.6006224 (2500)	total: 19.2s	remaining: 1m 12s
2600:	learn: 1.3671816	test: 1.5924998	best: 1.5924998 (2600)	total: 19.9s	remaining: 1m 12s
2700:	learn: 1.3485160	test: 1.5807941	best: 1.5807941 (2700)	total: 20.7s	remaining: 1m 11s
2800:	learn: 1.3394370	test: 1.5778394	best: 1.5778394 (2800)	total: 21.4s	remaining: 1m 10s
2900:	learn: 1.3278484	test: 1.5707718	best: 1.5707718 (2900)	total: 22.2s	remaining: 1m 9s
3000:	learn: 1.3185265	test: 1.5671345	best: 1.5670737 (2998)	total: 23s	remaining: 1m 8s
3100:	learn: 1.3057465	test: 1.5599745	best: 1.5599442 (3094)	total: 23.7s	remaining: 1m 8s
3200:	learn: 1.2855527	test: 1.5470226	best: 1.5469944 (3198)	total: 24.5s	remaining: 1m 7s
3300:	learn: 1.2725947	test: 1.5396066	best: 1.5395542 (3299)	total: 25.3s	remaining: 1m 6s
3400:	learn: 1.2636145	test: 1.5348308	best: 1.5348308 (3400)	total: 26.1s	remaining: 1m 5s
3500:	learn: 1.2486934	test: 1.5268646	best: 1.5268191 (3496)	total: 26.9s	remaining: 1m 5s
3600:	learn: 1.2373234	test: 1.5200919	best: 1.5200919 (3600)	total: 27.6s	remaining: 1m 4s
3700:	learn: 1.2274636	test: 1.5139150	best: 1.5139150 (3700)	total: 28.4s	remaining: 1m 3s
3800:	learn: 1.2169383	test: 1.5066122	best: 1.5066122 (3800)	total: 29.2s	remaining: 1m 2s
3900:	learn: 1.2083917	test: 1.5015597	best: 1.5015008 (3892)	total: 29.9s	remaining: 1m 2s
4000:	learn: 1.1989140	test: 1.4973865	best: 1.4973865 (4000)	total: 30.7s	remaining: 1m 1s
4100:	learn: 1.1880618	test: 1.4890207	best: 1.4890207 (4100)	total: 31.5s	remaining: 1m
4200:	learn: 1.1775616	test: 1.4817446	best: 1.4817446 (4200)	total: 32.2s	remaining: 59.9s
4300:	learn: 1.1689328	test: 1.4767771	best: 1.4767771 (4300)	total: 33s	remaining: 59.1s
4400:	learn: 1.1611939	test: 1.4729576	best: 1.4729276 (4399)	total: 33.8s	remaining: 58.4s
4500:	learn: 1.1545247	test: 1.4699915	best: 1.4699915 (4500)	total: 34.6s	remaining: 57.6s
4600:	learn: 1.1465385	test: 1.4663218	best: 1.4663218 (4600)	total: 35.3s	remaining: 56.8s
4700:	learn: 1.1405573	test: 1.4637335	best: 1.4637335 (4700)	total: 36.1s	remaining: 56.1s
4800:	learn: 1.1330815	test: 1.4603794	best: 1.4603727 (4799)	total: 36.9s	remaining: 55.3s
4900:	learn: 1.1288881	test: 1.4588841	best: 1.4588841 (4900)	total: 37.6s	remaining: 54.5s
5000:	learn: 1.1229098	test: 1.4558025	best: 1.4558025 (5000)	total: 38.4s	remaining: 53.7s
5100:	learn: 1.1184282	test: 1.4551199	best: 1.4548076 (5067)	total: 39.1s	remaining: 52.9s
5200:	learn: 1.1134608	test: 1.4537552	best: 1.4537552 (5200)	total: 39.9s	remaining: 52.1s
5300:	learn: 1.1066617	test: 1.4517387	best: 1.4517387 (5300)	total: 40.6s	remaining: 51.4s
5400:	learn: 1.1010979	test: 1.4503169	best: 1.4503044 (5399)	total: 41.4s	remaining: 50.6s
5500:	learn: 1.0953632	test: 1.4480985	best: 1.4480843 (5499)	total: 42.2s	remaining: 49.8s
5600:	learn: 1.0894775	test: 1.4454108	best: 1.4453815 (5599)	total: 42.9s	remaining: 49s
5700:	learn: 1.0833038	test: 1.4436157	best: 1.4436157 (5700)	total: 43.7s	remaining: 48.3s
5800:	learn: 1.0773195	test: 1.4411578	best: 1.4411280 (5797)	total: 44.4s	remaining: 47.5s
5900:	learn: 1.0685916	test: 1.4371643	best: 1.4371357 (5897)	total: 45.2s	remaining: 46.7s
6000:	learn: 1.0616802	test: 1.4339737	best: 1.4339737 (6000)	total: 46s	remaining: 46s
6100:	learn: 1.0533446	test: 1.4289291	best: 1.4289291 (6100)	total: 46.8s	remaining: 45.2s
6200:	learn: 1.0471899	test: 1.4259488	best: 1.4259076 (6196)	total: 47.5s	remaining: 44.4s
6300:	learn: 1.0417002	test: 1.4240252	best: 1.4240252 (6300)	total: 48.3s	remaining: 43.7s
6400:	learn: 1.0365907	test: 1.4224892	best: 1.4223511 (6391)	total: 49s	remaining: 42.9s
6500:	learn: 1.0302879	test: 1.4199427	best: 1.4199298 (6499)	total: 49.8s	remaining: 42.1s
6600:	learn: 1.0246112	test: 1.4180224	best: 1.4180145 (6599)	total: 50.5s	remaining: 41.3s
6700:	learn: 1.0192377	test: 1.4161258	best: 1.4161258 (6700)	total: 51.3s	remaining: 40.6s
6800:	learn: 1.0135495	test: 1.4140727	best: 1.4140479 (6798)	total: 52.1s	remaining: 39.8s
6900:	learn: 1.0092584	test: 1.4125293	best: 1.4125293 (6900)	total: 52.8s	remaining: 39s
7000:	learn: 1.0047614	test: 1.4110815	best: 1.4110450 (6961)	total: 53.6s	remaining: 38.3s
7100:	learn: 1.0002766	test: 1.4101293	best: 1.4101165 (7096)	total: 54.3s	remaining: 37.5s
7200:	learn: 0.9949659	test: 1.4078020	best: 1.4076966 (7189)	total: 55.1s	remaining: 36.7s
7300:	learn: 0.9905369	test: 1.4065082	best: 1.4064951 (7294)	total: 55.9s	remaining: 36s
7400:	learn: 0.9871304	test: 1.4055497	best: 1.4055497 (7400)	total: 56.6s	remaining: 35.2s
7500:	learn: 0.9829168	test: 1.4043946	best: 1.4043554 (7498)	total: 57.4s	remaining: 34.4s
7600:	learn: 0.9787165	test: 1.4029085	best: 1.4029085 (7600)	total: 58.2s	remaining: 33.7s
7700:	learn: 0.9749931	test: 1.4021296	best: 1.4020600 (7685)	total: 58.9s	remaining: 32.9s
7800:	learn: 0.9717597	test: 1.4015107	best: 1.4014913 (7799)	total: 59.7s	remaining: 32.1s
7900:	learn: 0.9671567	test: 1.4001491	best: 1.4001491 (7900)	total: 1m	remaining: 31.3s
8000:	learn: 0.9616638	test: 1.3971665	best: 1.3971585 (7997)	total: 1m 1s	remaining: 30.6s
8100:	learn: 0.9571475	test: 1.3959758	best: 1.3958750 (8092)	total: 1m 1s	remaining: 29.8s
8200:	learn: 0.9525121	test: 1.3949553	best: 1.3948818 (8188)	total: 1m 2s	remaining: 29.1s
8300:	learn: 0.9484634	test: 1.3943257	best: 1.3943019 (8298)	total: 1m 3s	remaining: 28.3s
8400:	learn: 0.9446992	test: 1.3926708	best: 1.3926708 (8400)	total: 1m 4s	remaining: 27.5s
8500:	learn: 0.9406540	test: 1.3912608	best: 1.3912379 (8485)	total: 1m 4s	remaining: 26.7s
8600:	learn: 0.9371963	test: 1.3903660	best: 1.3903067 (8599)	total: 1m 5s	remaining: 26s
8700:	learn: 0.9328772	test: 1.3891759	best: 1.3891099 (8693)	total: 1m 6s	remaining: 25.2s
8800:	learn: 0.9295460	test: 1.3879717	best: 1.3879717 (8800)	total: 1m 7s	remaining: 24.4s
8900:	learn: 0.9253352	test: 1.3869620	best: 1.3869484 (8898)	total: 1m 7s	remaining: 23.7s
9000:	learn: 0.9213765	test: 1.3861687	best: 1.3861441 (8999)	total: 1m 8s	remaining: 22.9s
9100:	learn: 0.9171315	test: 1.3845564	best: 1.3845449 (9099)	total: 1m 9s	remaining: 22.1s
9200:	learn: 0.9134793	test: 1.3836318	best: 1.3836318 (9200)	total: 1m 10s	remaining: 21.4s
9300:	learn: 0.9104237	test: 1.3830005	best: 1.3829910 (9299)	total: 1m 10s	remaining: 20.6s
9400:	learn: 0.9076169	test: 1.3825046	best: 1.3824622 (9391)	total: 1m 11s	remaining: 19.8s
9500:	learn: 0.9047115	test: 1.3819234	best: 1.3819234 (9500)	total: 1m 12s	remaining: 19.1s
9600:	learn: 0.9016762	test: 1.3810611	best: 1.3810453 (9597)	total: 1m 13s	remaining: 18.3s
9700:	learn: 0.8980847	test: 1.3794706	best: 1.3794681 (9696)	total: 1m 13s	remaining: 17.5s
9800:	learn: 0.8932546	test: 1.3782471	best: 1.3782462 (9798)	total: 1m 14s	remaining: 16.8s
9900:	learn: 0.8897104	test: 1.3775723	best: 1.3774514 (9891)	total: 1m 15s	remaining: 16s
10000:	learn: 0.8861981	test: 1.3771006	best: 1.3771006 (10000)	total: 1m 16s	remaining: 15.3s
10100:	learn: 0.8831672	test: 1.3765195	best: 1.3765030 (10091)	total: 1m 17s	remaining: 14.6s
10200:	learn: 0.8794580	test: 1.3755406	best: 1.3754449 (10174)	total: 1m 18s	remaining: 13.8s
10300:	learn: 0.8760681	test: 1.3745965	best: 1.3745965 (10300)	total: 1m 19s	remaining: 13.1s
10400:	learn: 0.8729084	test: 1.3735455	best: 1.3735455 (10400)	total: 1m 19s	remaining: 12.3s
10500:	learn: 0.8702665	test: 1.3725190	best: 1.3724575 (10470)	total: 1m 20s	remaining: 11.5s
10600:	learn: 0.8671922	test: 1.3719679	best: 1.3719679 (10600)	total: 1m 21s	remaining: 10.7s
10700:	learn: 0.8633842	test: 1.3707622	best: 1.3707622 (10700)	total: 1m 22s	remaining: 9.98s
10800:	learn: 0.8602323	test: 1.3701688	best: 1.3701665 (10796)	total: 1m 22s	remaining: 9.21s
10900:	learn: 0.8568550	test: 1.3691924	best: 1.3691924 (10900)	total: 1m 23s	remaining: 8.44s
11000:	learn: 0.8536951	test: 1.3683624	best: 1.3682770 (10998)	total: 1m 24s	remaining: 7.67s
11100:	learn: 0.8508530	test: 1.3678043	best: 1.3678043 (11100)	total: 1m 25s	remaining: 6.9s
11200:	learn: 0.8479191	test: 1.3670376	best: 1.3670202 (11196)	total: 1m 26s	remaining: 6.14s
11300:	learn: 0.8446791	test: 1.3661601	best: 1.3661601 (11300)	total: 1m 27s	remaining: 5.38s
11400:	learn: 0.8414116	test: 1.3654393	best: 1.3654389 (11399)	total: 1m 27s	remaining: 4.61s
11500:	learn: 0.8381112	test: 1.3646460	best: 1.3645591 (11492)	total: 1m 28s	remaining: 3.84s
11600:	learn: 0.8351278	test: 1.3637431	best: 1.3637431 (11600)	total: 1m 29s	remaining: 3.07s
11700:	learn: 0.8309389	test: 1.3619422	best: 1.3619422 (11700)	total: 1m 30s	remaining: 2.3s
11800:	learn: 0.8274312	test: 1.3606080	best: 1.3605966 (11796)	total: 1m 30s	remaining: 1.53s
11900:	learn: 0.8238481	test: 1.3594336	best: 1.3594336 (11900)	total: 1m 31s	remaining: 762ms
11999:	learn: 0.8203903	test: 1.3580117	best: 1.3580117 (11999)	total: 1m 32s	remaining: 0us

bestTest = 1.358011702
bestIteration = 11999

In [183]:
ss = pd.read_csv("SampleSubmission.csv")
ss["Date"] = pd.to_datetime(ss["ID"].str.extract(r'(\d{4}-\d{2}-\d{2})')[0])

In [184]:
# Convert to datetime
ss["Date"] = pd.to_datetime(ss["Date"])
climate_df["Date Time"] = pd.to_datetime(climate_df["Date Time"])

# Aggregate climate data to daily level
climate_daily = climate_df.groupby(climate_df["Date Time"].dt.date).agg({
    "Temperature (°C)": "mean",
    "Dewpoint Temperature (°C)": "mean",
    "U Wind Component (m/s)": "mean",
    "V Wind Component (m/s)": "mean",
    "Total Precipitation (mm)": "sum",
    "Snowfall (mm)": "sum",
    "Snow Cover (%)": "mean",
}).reset_index()

# Convert 'Date' column in climate_daily to datetime format
climate_daily.rename(columns={"Date Time": "Date"}, inplace=True)
climate_daily["Date"] = pd.to_datetime(climate_daily["Date"])  # Ensure datetime64[ns]

# Merge with complete_data
forecast = ss.merge(climate_daily, on="Date", how="left")

In [185]:
import numpy as np


# The 'year', 'day', and 'is_weekend' don't require sinusoidal encoding as they are not cyclical
# Convert 'Date' to datetime format if not already
forecast["Date"] = pd.to_datetime(forecast["Date"])

# Extract date features (keeping only useful ones)
forecast["year"] = forecast["Date"].dt.year
forecast["day"] = forecast["Date"].dt.day
forecast["is_weekend"] = (forecast["Date"].dt.dayofweek >= 5).astype(int)  # 1 if Sat/Sun, else 0

# Sinusoidal encoding of cyclical features
forecast["day_of_week_sin"] = np.sin(2 * np.pi * forecast["Date"].dt.dayofweek / 7)
forecast["day_of_week_cos"] = np.cos(2 * np.pi * forecast["Date"].dt.dayofweek / 7)

forecast["month_sin"] = np.sin(2 * np.pi * forecast["Date"].dt.month / 12)
forecast["month_cos"] = np.cos(2 * np.pi * forecast["Date"].dt.month / 12)

forecast["week_of_year_sin"] = np.sin(2 * np.pi * forecast["Date"].dt.isocalendar().week / 52)
forecast["week_of_year_cos"] = np.cos(2 * np.pi * forecast["Date"].dt.isocalendar().week / 52)

forecast["quarter_sin"] = np.sin(2 * np.pi * forecast["Date"].dt.quarter / 4)
forecast["quarter_cos"] = np.cos(2 * np.pi * forecast["Date"].dt.quarter / 4)

# Drop raw features that are now redundant

In [186]:
# Extract consumer device and data user using regex
forecast["consumer_device"] = forecast["ID"].str.extract(r'consumer_device_(\d+)_data_user_\d+').astype(int)
forecast["data_user"] = forecast["ID"].str.extract(r'consumer_device_\d+_data_user_(\d+)').astype(int)
forecast.head()

,ID,kwh,Date,Temperature (°C),Dewpoint Temperature (°C),U Wind Component (m/s),V Wind Component (m/s),Total Precipitation (mm),Snowfall (mm),Snow Cover (%),...,day_of_week_sin,day_of_week_cos,month_sin,month_cos,week_of_year_sin,week_of_year_cos,quarter_sin,quarter_cos,consumer_device,data_user
0,2024-09-24_consumer_device_12_data_user_1,0,2024-09-24,13.899341,2.104299,0.005811,-0.264604,0.000032,0.000000,0.000000,...,0.781831,0.623490,-1.0,-1.836970e-16,-1.0,-0.0,-1.0,-1.836970e-16,12,1
1,2024-09-25_consumer_device_12_data_user_1,0,2024-09-25,12.475849,5.623678,0.224280,0.183461,0.003789,0.000000,0.000000,...,0.974928,-0.222521,-1.0,-1.836970e-16,-1.0,-0.0,-1.0,-1.836970e-16,12,1
2,2024-09-26_consumer_device_12_data_user_1,0,2024-09-26,9.702699,7.375160,0.202651,0.044908,0.122680,0.000000,0.000000,...,0.433884,-0.900969,-1.0,-1.836970e-16,-1.0,-0.0,-1.0,-1.836970e-16,12,1
3,2024-09-27_consumer_device_12_data_user_1,0,2024-09-27,6.806661,5.905107,0.042285,0.168467,0.443926,0.019848,3.789225,...,-0.433884,-0.900969,-1.0,-1.836970e-16,-1.0,-0.0,-1.0,-1.836970e-16,12,1
4,2024-09-28_consumer_device_12_data_user_1,0,2024-09-28,6.399286,2.932036,-0.042425,0.149797,0.059494,0.001262,4.174235,...,-0.974928,-0.222521,-1.0,-1.836970e-16,-1.0,-0.0,-1.0,-1.836970e-16,12,1

In [187]:
X_test_final = forecast.drop(columns=['Date','ID','kwh'])
X_test_final.fillna(-1,inplace=True)

In [188]:
predictions_power = model_power.predict(X_test_final[X_train_power.columns])

In [189]:
predictions_power

array([0.50521889, 0.55318828, 0.58201941, ..., 0.51190988, 0.49695386,
       0.54540934])

In [190]:
X_test_final['power_factor']= predictions_power

In [174]:
X_test_final

,Temperature (°C),Dewpoint Temperature (°C),U Wind Component (m/s),V Wind Component (m/s),Total Precipitation (mm),Snowfall (mm),Snow Cover (%),year,day,is_weekend,...,day_of_week_cos,month_sin,month_cos,week_of_year_sin,week_of_year_cos,quarter_sin,quarter_cos,consumer_device,data_user,power_factor
0,13.899341,2.104299,0.005811,-0.264604,0.000032,0.000000,0.000000,2024,24,0,...,0.623490,-1.000000,-1.836970e-16,-1.0,-0.0,-1.000000e+00,-1.836970e-16,12,1,0.505219
1,12.475849,5.623678,0.224280,0.183461,0.003789,0.000000,0.000000,2024,25,0,...,-0.222521,-1.000000,-1.836970e-16,-1.0,-0.0,-1.000000e+00,-1.836970e-16,12,1,0.553188
2,9.702699,7.375160,0.202651,0.044908,0.122680,0.000000,0.000000,2024,26,0,...,-0.900969,-1.000000,-1.836970e-16,-1.0,-0.0,-1.000000e+00,-1.836970e-16,12,1,0.582019
3,6.806661,5.905107,0.042285,0.168467,0.443926,0.019848,3.789225,2024,27,0,...,-0.900969,-1.000000,-1.836970e-16,-1.0,-0.0,-1.000000e+00,-1.836970e-16,12,1,0.629935
4,6.399286,2.932036,-0.042425,0.149797,0.059494,0.001262,4.174235,2024,28,1,...,-0.222521,-1.000000,-1.836970e-16,-1.0,-0.0,-1.000000e+00,-1.836970e-16,12,1,0.654474
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6009,3.693599,-4.460602,0.046748,-0.296137,0.003672,0.000000,2.138590,2024,20,1,...,0.623490,-0.866025,5.000000e-01,-0.935016,0.354605,-2.449294e-16,1.000000e+00,8,9,0.515363
6010,3.712101,-3.217974,-0.118125,-0.373651,0.008551,0.000000,1.033285,2024,21,0,...,1.000000,-0.866025,5.000000e-01,-0.885456,0.464723,-2.449294e-16,1.000000e+00,8,9,0.546564
6011,2.515382,-2.358298,0.047106,-0.214380,0.010362,0.000161,0.531738,2024,22,0,...,0.623490,-0.866025,5.000000e-01,-0.885456,0.464723,-2.449294e-16,1.000000e+00,8,9,0.511910
6012,0.315618,-0.711822,0.001728,-0.227600,0.056409,0.027086,6.653727,2024,23,0,...,-0.222521,-0.866025,5.000000e-01,-0.885456,0.464723,-2.449294e-16,1.000000e+00,8,9,0.496954
6013,-0.349515,-1.964442,0.045428,-0.506269,0.010772,0.004634,9.877035,2024,24,0,...,-0.900969,-0.866025,5.000000e-01,-0.885456,0.464723,-2.449294e-16,1.000000e+00,8,9,0.545409

In [175]:
X_test_final.fillna(-1,inplace=True)

In [176]:
predictions= model.predict(X_test_final[X_train.columns])

In [177]:
forecast = pd.read_csv("SampleSubmission.csv")

In [178]:
forecast['kwh'] = predictions.clip(min=0)

In [179]:
forecast

                                             ID       kwh
0     2024-09-24_consumer_device_12_data_user_1  0.378923
1     2024-09-25_consumer_device_12_data_user_1  0.000000
2     2024-09-26_consumer_device_12_data_user_1  3.044177
3     2024-09-27_consumer_device_12_data_user_1  0.000000
4     2024-09-28_consumer_device_12_data_user_1  0.000000
...                                         ...       ...
6009   2024-10-20_consumer_device_8_data_user_9  0.000000
6010   2024-10-21_consumer_device_8_data_user_9  0.000000
6011   2024-10-22_consumer_device_8_data_user_9  0.283056
6012   2024-10-23_consumer_device_8_data_user_9  0.000000
6013   2024-10-24_consumer_device_8_data_user_9  0.000000

[6014 rows x 2 columns]

In [180]:
# prompt: list the difference in the ID between forecast and ss

# Assuming 'forecast' and 'ss' DataFrames are already defined as in your provided code.

# Convert 'ID' columns to sets for efficient comparison
forecast_ids = set(forecast['ID'])
ss_ids = set(ss['ID'])

# Find IDs present in forecast but not in ss
forecast_only_ids = forecast_ids - ss_ids

# Find IDs present in ss but not in forecast
ss_only_ids = ss_ids - forecast_ids

# Print the IDs that are in forecast but not in ss
print("IDs in 'forecast' but not in 'ss':")
print(forecast_only_ids)


# Print the IDs that are in ss but not in forecast
print("\nIDs in 'ss' but not in 'forecast':")
print(ss_only_ids)

# Print the number of IDs that differ
print(f"\nNumber of IDs that differ: {len(forecast_only_ids) + len(ss_only_ids)}")

IDs in 'forecast' but not in 'ss':
set()

IDs in 'ss' but not in 'forecast':
set()

Number of IDs that differ: 0

In [181]:
forecast_best1 = pd.read_csv("forecast-cat_sin12K.csv")
forecast_b = pd.read_csv("forecast-cat-powerpred.csv")

import pandas as pd
from sklearn.metrics import mean_squared_error
import math

# Assuming 'forecast' and 'forecast_best' are DataFrames with a common 'ID' column and a 'kwh' column
# containing the forecast and actual values respectively.

# Merge the forecast and forecast_best DataFrames on the 'ID' column
merged_df = pd.merge(forecast, forecast_best1, on='ID', how='left', suffixes=('_forecast', '_actual'))

# Calculate the RMSE
rmse = math.sqrt(mean_squared_error(merged_df['kwh_actual'], merged_df['kwh_forecast']))

print(f"RMSE: {rmse}")

# Calculate the absolute difference between forecast and actual kwh values
merged_df['kwh_diff'] = abs(merged_df['kwh_actual'] - merged_df['kwh_forecast'])

# Define a threshold for "high" differences (e.g., 10% of the actual value)
threshold = 0.1  # You can adjust this based on your data and needs
merged_df['high_diff'] = merged_df['kwh_diff'] > (threshold * merged_df['kwh_actual'])

# Show rows where the difference is higher than the threshold
high_diff_rows = merged_df[merged_df['high_diff']]

# Display the rows where the difference is considered high
print("\nRows with high forecast errors:")
print(high_diff_rows[['ID', 'kwh_forecast', 'kwh_actual', 'kwh_diff']])
forecast.to_csv("forecast-cat-powerpred.csv", index = False)

RMSE: 2.972213999526346

Rows with high forecast errors:
                                             ID  kwh_forecast  kwh_actual  \
0     2024-09-24_consumer_device_12_data_user_1      0.378923    0.000000
2     2024-09-26_consumer_device_12_data_user_1      3.044177    0.000000
5     2024-09-29_consumer_device_12_data_user_1      3.804235    0.000000
6     2024-09-30_consumer_device_12_data_user_1      2.264010    0.000000
7     2024-10-01_consumer_device_12_data_user_1      4.199988    1.843480
...                                         ...           ...         ...
6009   2024-10-20_consumer_device_8_data_user_9      0.000000    0.484747
6010   2024-10-21_consumer_device_8_data_user_9      0.000000    0.554929
6011   2024-10-22_consumer_device_8_data_user_9      0.283056    0.672123
6012   2024-10-23_consumer_device_8_data_user_9      0.000000    0.509170
6013   2024-10-24_consumer_device_8_data_user_9      0.000000    0.631405

      kwh_diff
0     0.378923
2     3.044177
5     3.804235
6     2.264010
7     2.356508
...        ...
6009  0.484747
6010  0.554929
6011  0.389067
6012  0.509170
6013  0.631405

[4950 rows x 4 columns]

In [182]:
forecast

                                             ID       kwh
0     2024-09-24_consumer_device_12_data_user_1  0.378923
1     2024-09-25_consumer_device_12_data_user_1  0.000000
2     2024-09-26_consumer_device_12_data_user_1  3.044177
3     2024-09-27_consumer_device_12_data_user_1  0.000000
4     2024-09-28_consumer_device_12_data_user_1  0.000000
...                                         ...       ...
6009   2024-10-20_consumer_device_8_data_user_9  0.000000
6010   2024-10-21_consumer_device_8_data_user_9  0.000000
6011   2024-10-22_consumer_device_8_data_user_9  0.283056
6012   2024-10-23_consumer_device_8_data_user_9  0.000000
6013   2024-10-24_consumer_device_8_data_user_9  0.000000

[6014 rows x 2 columns]